* {
    margin: 0;
    padding: 0;
}

main, footer {
    padding: 5px;
}

h1 {
    font-size: 25px;
}

ul {
    margin-left: 1em;
    margin-bottom: 15px;

}

p {
    margin-bottom: 15px;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 15px;
    width: 100%;

}

.color1 {
    background-color: rgb(177, 229, 242);

}

.color2 {
    background-color: rgb(11, 113, 172);
    color: white;
}

.banner {
    background-color: rgb(78, 160, 255);
    background-image: url(../img/pattern.png);
    background-size: 230px;
    height: 60px;
}

.logo {
    width: 150px;
    padding: 5px;
    margin-top: 15px;
}

/* COLORS */

.brand-color {
color: rgb(78, 160, 255)
}

.text-grey {
    color: rgb(120, 120, 120);
    margin-bottom: 5px;
}

.marked {
    background-color: rgb(256, 255, 17);

}

.hide-bullet {
    list-style-type: none;
}

.text-size {
    font-size: 14px;
}

.author {
font-size: 11px;
}

.date {
    font-size: 7px;
    margin-bottom: 15px;
}

.title {
    margin-top: 3px;
}

.main-img{

    height: 250px;
}

.credits {
    color: rgb(120, 120, 120);
    font-size: 9px;
    margin-bottom: 15px;
}

.img1-link {
    background-image: url(../img/monitor.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
    height: 100px;
    width: 150px;
    color: white;
    margin-bottom: 10px;
    padding: 5px;
}

.img2-link {
    background-image: url(../img/graph.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
    height: 100px;
    width: 150px;
    color: white;
    padding: 5px;
}

