* {
    margin: 0;
    padding: 0;
}

main {
    padding: 5px;
}

h1 {
    font-size: 25px;
}

.banner {
    background-color: rgb(78, 160, 255);
    background-image: url(../img/pattern.png);
    background-size: 230px;
    height: 60px;
}

.logo {
    width: 150px;
    padding: 5px;
    margin-top: 16px;
}

.brand-color {
color: rgb(78, 160, 255)
}

.text-grey {
    color: rgb(120, 120, 120);
}

.author {
font-size: 11px;
}

.date {
    font-size: 7px;
    margin-bottom: 20px;
}

.title {
    margin-top: 3px;
}

.main-img{

    height: 250px;
}

.credits {
    color: rgb(120, 120, 120);
font-size: 9px;
}